{% extends 'base.html' %} {% block content %}
<div>profile page</div>
<img class="img-thumbnail" src="{{profile.image.url}}" alt="..." />
<p>{{user.username}}</p>
<p>{{profile.email}}</p>
<p>{{profile.summary}}</p>
<p>{{profile.about}}</p>
<p>{{profile.created}}</p>

{% for follower in profile.follows.all %}
<div class="card" style="width: 18rem">
  <img class="card-img-top" src="{{follower.image.url}}" alt="Card image cap" />
  <div class="card-body">
    <a href="{% url 'get-profile' follower.pk %}"
      ><h5 class="card-title">{{follower.user.username}}</h5></a
    >
  </div>
</div>
{% endfor %}
<a href="{% url 'edit-profile' %}">Edit profile</a>
{% endblock content %}
